#app_2 {
  /* border: 1px solid blue; */
}

#app_2 .tabBar {
  display: flex;
}
#app_2 .tabBar li {
  border: 1px solid grey;
  width: 50%;
  text-align: center;
  padding: 20px;
}
#app_2 .tabBar li.selected {
  background: gainsboro;
  border: none;
}
#app_2 .tabContent {
  display: flex;
}
#app_2 .tabContent > li {
  /* border: 3px solid #000; */
  width: 100%;
  display: none;
  padding: 20px;
  font-size: 30px;
}
#app_2 .tabContent > li.active {
  display: block;
}
