#app_3 {
  /* border: 1px solid green; */
}
#app_3 .square {
  border: 4px solid grey;
  width: 10vw;
  height: 10vh;
  margin-left: 10vw;
  margin-top: 10vw;
  transition: transform 1s;
}
#app_3 .square.active {
  transform: translateX(15vw);
  border-radius: 15%;
}
